albumentations
appdirs
colorama
efficientnet_pytorch
einops
ftfy
grad_cam
imageio
imdlbenco13==0.2.2
imutils
jpegio
kmeans_pytorch
lmdb
matplotlib
numpy
opencv_python
opencv_python_headless
Pillow
pytorch_wavelets
regex
Requests
rich
scikit_learn
segmentation_models_pytorch
setuptools<80
six
tensorflow
timm
torchvision
tqdm
ttach
yacs
python-magic